@use '../abstract/mixins';
@use '../abstract/variables';
@use 'sass:color';

.download {
  position: relative;
  min-height: 50%;
  z-index: 9;
  margin: 5rem 2rem;
  border-radius: 5px;
  text-align: center;
  align-self: stretch;
  padding: 5rem;
  border: 3px dashed variables.$color-dark;
  color: variables.$color-dark;
  // border: 2px dashed variables.$color-gray;
  // color: variables.$color-gray;

  &__title {
    margin-top: 2rem;
  }
}
