@use '../abstract/variables';

// @font-face {
//   font-family: 'cirquee';
//   src: url(../../assets/cirquee.ttf) format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'element';
//   src: url(../../assets/element.ttf) format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'galdwin';
//   src: url(../../assets/galdwin.ttf) format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'galdwinlight';
  src: url(../../assets/galdwinlight.ttf) format('truetype');
  font-weight: lighter;
  font-style: normal;
}

::selection {
  background: variables.$color-primary;
  color: variables.$color-light;
}

.accent {
  color: variables.$color-primary;

  &:hover {
    color: variables.$color-primary-dark;
  }
}
