@use '@styles/variables';
@use '@styles/mixins';

.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  margin-top: 2rem;
  background-color: variables.$color-primary-light;
  border-bottom: 2px solid variables.$color-primary-dark;
  border-radius: variables.$border-radius;
  box-shadow: variables.$shadow;
  z-index: variables.$z-level-header;

  @include mixins.responsive(phone) {
    justify-content: center;
  }

  &__title {
    font-size: 3.5rem;
    font-family: variables.$title-font;
    background-image: variables.$title-gradient;
    background-clip: text;
    color: transparent;
    position: relative;
    margin-left: 1rem;
    margin-top: .2rem;

    @include mixins.responsive(phone) {
      // top: 100%;
    }
  }
}
