@use '../abstract/variables';

%input {
  // background-color: variables.$color-gray-light;
  background: none;
  color: variables.$color-dark;
  padding: 1rem 1.5rem;
  padding-right: 5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  outline: 2px solid variables.$color-dark;

  &:focus:empty {
    outline: 2px solid variables.$color-primary;
  }
}

%input-error {
  @extend %input;
  outline: 2px solid rgba(248, 80, 50, 0.7);
  &:focus:empty {
    outline: 2px solid rgba(248, 80, 50, 0.7);
  }
}
%input-warning {
  @extend %input;
  outline: 2px solid rgba(230, 130, 57, 0.9);
  &:focus:empty {
    outline: 2px solid rgba(230, 130, 57, 0.9);
  }
}
%input-info {
  @extend %input;
  outline: 2px solid #eade2d;
  &:focus:empty {
    outline: 2px solid #eade2d;
  }
}
%input-success {
  @extend %input;
  outline: 2px solid variables.$color-primary;
  &:focus:empty {
    outline: 2px solid variables.$color-primary;
  }
}
