@use '@styles/variables';

.toast {
  position: absolute;
  min-width: content;
  padding: 1rem 2.5rem;
  border-radius: 3px;
  border-bottom: 2px solid rgba(210, 37, 19);
  box-shadow: variables.$shadow;
  color: variables.$color-light;
  background-image: variables.$background-gradient-error;
}
