@use '@styles/variables';
@use '@styles/mixins';

.password {

  &__label {
    position: relative;

    &::after {
      content: attr(data-score);
      position: absolute;
      top: calc(100% + 1rem);
      left: 0;
      height: 2px;
      width: 0%;
      background-color: orangered;
      transition: width 0.2s ease-in-out;
    }

    &--poor::after {
      width: 20%;
      background-color: tomato;
    }

    &--weak::after {
      width: 40%;
      background-color: orangered;
    }

    &--average::after {
      width: 60%;
      background-color: orange;
    }

    &--okay::after {
      width: 80%;
      background-color: gold;
    }

    &--strong::after {
      width: 100%;
      background-color: limegreen;
    }
  }

  &__input {
    background: none;
    color: variables.$color-dark;
    padding: 1rem 1.5rem;
    padding-right: 5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    outline: 2px solid variables.$color-dark;
  }

  &__generator,
  &__toggle {
    position: absolute;
    top: 50%;
    width: 1.6rem;
    height: 1.6rem;
    transform: translateY(-50%);
    // background-color: variables.$color-light;
    background-color: none;
    fill: variables.$color-dark;
    border: none;

    &:hover,
    &:focus {
      cursor: pointer;
      fill: variables.$color-primary;
    }
  }

  &__generator {
    right: 3.5rem;
  }

  &__toggle {
    right: 1rem;
  }

}
