@use '@styles/mixins';

.landing__step {
  margin-left: 2.5rem;

  @include mixins.responsive(portrait) {
    display: inline;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  @include mixins.responsive(phone) {
    margin-left: 0;
  }

  &--complete {
    transform: scale(1.1);
  }
}
