@use '../abstract/variables';

%button {
  color: variables.$color-primary-darker;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-family: ubuntu;
  outline: none;

  &:hover {
    cursor: pointer;
    background-color: variables.$color-primary;
  }
}

%button-outline {
  @extend %button;

  padding: 0.5rem 1.5rem;
  border: 2px solid variables.$color-primary;
  border-radius: 5px;
  transition: all 0.2;
  appearance: none;
  outline: none;

  &:hover {
    cursor: pointer;
    background-color: variables.$color-primary;
    color: variables.$color-light;
  }

  &:active {
    background-color: variables.$color-primary-dark;
    color: variables.$color-light;
    border: 2px solid variables.$color-primary-dark;
  }
}

%button-action {
  @extend %button;

  border: none;
  border-radius: 5px;
  border-bottom: 2px solid variables.$color-primary-dark;
  background-color: variables.$color-primary-light;
  box-shadow: variables.$shadow;
  padding: 1rem 2rem;
  appearance: none;
  outline: none;
  transition: transform 0.2s;

  &:active {
    transform: translateY(.5rem);
    box-shadow: variables.$shadow-thick;
  }

  &:disabled {
    background-image: none;
    border-bottom: 2px solid variables.$color-dark;
    background-color: variables.$color-gray-dark;
  }
}
