@use '../abstract/variables';
@use '../abstract/mixins';

.success {
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;

  @include mixins.responsive(tablet) {
    flex-direction: column;
  }
  // min-width: calc(content + 1rem);
  // max-width: 80vw;
  // overflow: hidden;
  // padding: 1rem 2.5rem;
  // border-radius: variables.$border-radius;
  // border-bottom: 2px solid variables.$color-primary-dark;
  // box-shadow: variables.$shadow;
  // color: variables.$color-primary-darker;
  // background-color: variables.$color-primary-light;

  &__container {
    flex: 0 0 auto;
    min-width: calc(content + 1rem);
    max-width: 80vw;
    overflow: auto;
    padding: 1rem 2.5rem;
    border-radius: variables.$border-radius;
    border-bottom: 2px solid variables.$color-primary-dark;
    box-shadow: variables.$shadow;
    color: variables.$color-primary-darker;
    background-color: variables.$color-primary-light;
  }

  &__msg {
    display: inline-block;
    margin-right: 1rem;
    min-width: max-content;
  }
}
