@use '../abstract/mixins';

.svg {
  &__file-input {
    position: absolute;
    top: 3rem;
    left: -10rem;
    width: 10rem;
    height: 10rem;
    opacity: 0.6;
  }

  &__file-output {
  	position: absolute;
  	top: -3rem;
  	left: 99%;
  	width: 15rem;
  	height: 15rem;
  	opacity: 0.6;
  }

  &__file-input,
  &__file-output {
    @include mixins.responsive(tablet) {
      display: none;
    }
  }
}
