@use '../abstract/variables';
@use '../abstract/mixins';
@use './input';
@use './button';

.upload-form {
  position: relative;
  border-radius: 5px;
  border: 3px dashed variables.$color-dark;
  height: 40vh;
  flex-basis: 50%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  flex-direction: column;

  @include mixins.responsive(portrait) {
    min-height: 35vh;
    padding: 2rem;
  }

  @include mixins.responsive(phone) {
    min-height: 30vh;
  }

  &--dragged {
    background-color: variables.$color-gray-light;
    border: 3px dashed variables.$color-primary-light;
  }

  &:hover,
  &:target {
    // border: 3px dashed variables.$color-primary-dark;
  }

  &:hover::after {
    opacity: 1;
  }

  &__label {
    display: block;
    text-align: center;
    // max-width: 30rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    border: none;

    &:hover,
    &:focus {
      cursor: pointer;
      color: variables.$color-primary;
    }

    output {
      max-width: 30ch;
    }

    output h3 {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__btn {
    @extend %button-action;
    position: relative;

    &:hover,
    &:focus {
      color: variables.$color-light;
    }
  }

  &__input {
    display: none;
  }

  &__password {
    position: relative;

    &--input {
      @extend %input;
      padding-right: 5rem;
      // background: none;
    }

    &--toggle,
    &--generate {
      position: absolute;
      top: 50%;
      width: 1.6rem;
      height: 1.6rem;
      transform: translateY(-50%);
      background: variables.$color-light;
      border: none;
      fill: variables.$color-dark;

      &:hover,
      &:focus {
        cursor: pointer;
        fill: variables.$color-primary;
      }
    }

    &--toggle {
      right: 1rem;
    }
    &--generate {
      right: 3.5rem;
    }
  }

  &__control-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }

  &__switch {
    font-size: 1.4rem;
    color: variables.$color-primary;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__error {
    display: block;
    color: orangered;
  }
}
