@use '../abstract/variables';
@use '../abstract/mixins';
@use './input';
@use './button';

.upload-form {
  position: relative;
  border-radius: 5px;
  border: 3px dashed variables.$color-dark;
  height: 40vh;
  flex-basis: 50%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  flex-direction: column;

  @include mixins.responsive(portrait) {
    min-height: 20vh;
    padding: 2rem;
  }

  &--dragged {
    background-color: variables.$color-gray-light;
    border: 3px dashed variables.$color-primary-light;
  }

  &:hover,
  &:target {
    // border: 3px dashed variables.$color-primary-dark;
  }

  &:hover::after {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s;
    box-shadow: variables.$shadow;
    z-index: -1;
  }

  &__label {
    display: block;
    text-align: center;
    max-width: 30rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    border: none;
    margin: 0 auto;

    &:hover,
    &:focus {
      cursor: pointer;
      color: variables.$color-primary;
    }
  }

  &__btn {
    @extend %button-action;
    position: relative;

    &:hover,
    &:focus {
      color: variables.$color-light;
    }
  }

  &__input {
    display: none;
  }

  &__password {
    position: relative;

    &--input {
      @extend %input;
      padding-right: 5rem;
      // background: none;
    }

    &--toggle,
    &--generate {
      position: absolute;
      top: 50%;
      width: 1.6rem;
      height: 1.6rem;
      transform: translateY(-50%);
      background: variables.$color-light;
      border: none;
      fill: variables.$color-dark;

      &:hover,
      &:focus {
        cursor: pointer;
        fill: variables.$color-primary;
      }
    }

    &--toggle {
      right: 1rem;
    }
    &--generate {
      right: 3.5rem;
    }
  }

  &__error {
    display: block;
    color: orangered;
  }
}
