@use '@styles/variables';
@use '@styles/mixins';

.upload-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 2.25rem;
  position: relative;
  height: 40vh;
  flex-basis: 50%;
  border-radius: variables.$border-radius;
  border: 3px dashed variables.$color-dark;
  transition: all 0.2s; // <- used with drag'n'drop files

  @include mixins.responsive(portrait) {
    min-height: 35vh;
    padding: 2rem;
  }

  @include mixins.responsive(phone) {
    min-height: 30vh;
    border: 2px dashed variables.$color-dark;
  }

  // File dragged over
  &--dragged {
    background-color: rgba(variables.$color-primary-light, 0.2);
    border: 3px dashed variables.$color-primary-light;
  }
}
