@use '../abstract/variables';
@use '../abstract/mixins';
@use '../components/button';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid variables.$color-dark;
  width: 100%;
  z-index: 2;

  @include mixins.responsive(phone) {
    align-self: center;
    border: none;
  }

  &__nav {
    margin-left: auto;

    @include mixins.responsive(phone) {
      margin: 0 auto 2rem auto;
    }
  }

  &__menu {
    display: flex;
  }

  &__item {
    margin: 0 1rem;

    // @include mixins.responsive(phone) {
    //   margin: 0;
    // }
  }

  &__link {
    font-family: inherit;
    color: variables.$color-dark;
    text-decoration: none;

    &:hover,
    &:focus {
      color: variables.$color-primary;
      outline: none;
    }

    // @media (prefers-color-scheme:dark) {
    //   background-color: variables.$color-light;
    // }
  }
}
