@use './mixins';

.is-hidden {
  display: none;
}
.is-centered {
  text-align: center;
}
.is-flex {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  @include mixins.responsive(phone) {
    flex-direction: column;
  }
}
.mt-1 {
  margin-top: 1rem;
}
